#projects-card {
    background-color: maroon;
}

#hobbies-card {
    background-color: #FFCE00;
}

button {
    border-radius: 0px;
    background-color: #222;
    border-width: 0;
    padding: 20px;
    ;
}

.card {
    margin-top: 20px;
    min-width: 75vw;
    max-width: 90vw;
    width: min-content;
    padding: 12px;
    background-image: linear-gradient(315deg, #101010, #202020);
    padding-right: 40px;
    padding-left: 40px;
    border-image: linear-gradient(to bottom, orangered, maroon) 1 100%;
    border-style: solid;
    border-width: 0;
}

.align-right {
    float: right;
    border-right-width: 0px;
    border-left-width: 5px;
}

.align-left {
    float: left;
    border-right-width: 5px;
    border-left-width: 0px;
}

.indent {
    text-indent: 6mm;
}

#HeyIm {
    padding-left: 5ch;
    font-weight: 600;
    margin: 10px;
    margin-bottom: 15px;
}

body {
    background-image: linear-gradient(180deg, #111, #333, #111);
    margin: 0px;
}

* {
    color: rgb(212 212 216);
    font-family: sans-serif;
}

#jeremymaxxing {
    font-weight: 1000;
    font-size: 5rem;
    line-height: 1;
    margin: 20px;
    padding: 0px;
    text-shadow: 2px 2px orangered, -2px -2px cornflowerblue;
    letter-spacing: 2px;
    width: fit-content;
    border-right: 0.4rem solid orangered;
}

.title {
    font-weight: 600;
    font-size: 4rem;

}

/* https://css-tricks.com/snippets/css/typewriter-effect/ */
.typed {
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .1em solid orangered;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    /* margin: 0 auto; /* Gives that scrolling effect as the typing happens */

    animation:
        typing 0.5s steps(16);
}

.center {
    text-align: center;
}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 110%
    }
}

/* The typewriter cursor effect */
@keyframes blink {

    from,
    to {
        border-color: orangered
    }

    50% {
        border-color: transparent;
    }
}